<% form_for(@settings) do |f| %>
<p>
	<%= f.label :name%>
	<%= f.text :name %>
</p>

<p>
	<%= f.label :description %>
	<%= f.text :description %>
</p>

<p>
	<%= f.label :xml_location %>
	<%= f.text :xml_location %>
</p>


<% end %>