

<% form_for(@settings) do |f| %>
<p>
	<%= f.label :name%>
	<%= f.text_field :name %>
</p>

<p>
	<%= f.label :description %>
	<%= f.text_field :description %>
</p>

<p>
	<%= f.label :xml_location %>
	<%= f.text_field :xml_location %>
</p>

<%= submit_tag "Save" %>

<% end %>